h2{
	color:red;
	background-color: black;
	
}


#topNav{
	
}
#nav_wrapper{
	margin: 0 auto;
	text-align: left;
}

#topNav ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
 position: relative;
 background-color: #ff2e22;
}
#topNav ul li {
display:inline-block;
border-left: solid;
border-color: #ff2e22;
 
}
 
#topNav ul li:hover{
 background-color: #ff3030;
}
#topNav ul li a,visited{
color: #ccc;
display: block;
padding: 15px;
text-decoration: none;
}
#topNav ul li a:hover{
 color: #ff6c23;
 text-decoration: none;
 
}

#topNav ul li:hover a{
 -moz-transform: scale(2);
-webkit-transform: scale(2);
-o-transform: scale(2);
-ms-transform: scale(2);
transform: scale(2);
}
#topNav ul li:hover ul{
display: block;
}

#Headpic{
	width: 1000px;
	height: 50px;
	
}
#wrapper {
	width: 80%; margin: 0px auto; min-height: 1500px;
	background-color: white;
	text-align: left;
	
	-webkit-box-shadow:inset 12px 12px 12px 0.3px #FF3E17;
    box-shadow:inset 12px 12px 12px 0.3px #FF3E17;
}

table{
	width: 100%;
	position: center;
}

body {	
background-color: #ff6c23;

	
}

.fieldssss {
	display:inline;
	float: left;
	clear:left;
	width: 100%;
	margin: auto;
	margin-top: 20px;
}

.field {
	display:flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	align-content: center;
}

.field p {
     display:inline;
	 color:#990026;
}

.field input, .field textarea{
	border: solid 1px;
	color : red;
	
	-webkit-box-shadow: 10px 10px 145px 39px rgba(144,224,13,1);
    -moz-box-shadow: 10px 10px 145px 39px rgba(144,224,13,1);
    box-shadow: 10px 10px 145px 39px rgba(244,124,13,1);
		
}


table{
	background-color:white;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-radius: 3px;
	-webkit-box-shadow: 10px 10px 145px 39px rgba(244,124,13,1);
    -moz-box-shadow: 10px 10px 145px 39px rgba(244,124,13,1);
    box-shadow: 10px 10px 145px 39px rgba(244,124,13,1);
	
	margin-bottom:10%;
}

 table th {
	text-align: center;
	border-left:1px solid;
	background-image: url('img/l_bg_2.jpg');
	background-size: cover;
	border-radius: 3px;
	
	
    
}
table td {
	border: 1px solid;
	text-align: center;
	margin: 1%;
	padding-right: 10px;
	padding-left: 10px;
	background-image: url('/img/l_bg_1.jpg');
	background-size: cover;
	color: #990026;
	
}

td a {
	text-decoration:none;
	display:block;
	border: 1px solid;
	text-align:center;
	color:red;
	
	
		
}

td a:hover{
	 -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
	
}

footer{
	position:fixed;
	bottom: 0;
	right: 0;
	left:0;
	text-align:center;
}







